@media (max-width: 1000px) {

    :root {
        --fs-200: 1.6rem;
        --fs-300: 1.8rem;
        --fs-400: 2rem;
        --fs-500: 2.5rem;
        --fs-600: 2.5rem;

        --fs-700: 3.5rem;
        --fs-800: 4.4rem;


    }


    h1 {
        line-height: 1.4em;
    }

    h2 {
        line-height: 1.4em;
    }

    h3 {
        line-height: 1.4em;
    }

    .even-columns {
        gap: 5rem;
    }

    .mobile-menu-btn {
        display: block;
        visibility: visible;
        color: #ffffff;
        font-size: 2rem;
        margin-left: auto;
        background: transparent;
        outline: none;
        border: none;

    }

    .primary-navigation {
        display: none;
    }

    .primary-navigation[data-visible] {
        display: block;
        position: absolute;
        top: 99%;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        background-color: var(--clr-body);
        z-index: 6;
        padding: 3rem;
        box-shadow: 0px 19px 29px -25px #000000;
    }

    .primary-navigation ul {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .primary-navigation {
        align-items: center;
        flex-direction: column;
    }


    .hero .content-wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero .content-wrapper .left-side {
        text-align: center;
    }

    .hero .content-wrapper .left-side p {
        margin-inline: auto;
    }


    /* About Section */
    span.caption {
        text-align: center;
        margin-inline: auto;
    }



    .about-section .content-wrapper {

        flex-wrap: wrap;
        text-align: center;
    }

    .about-section .content-wrapper {

        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .Service-section .content-wrapper .service-cards .card {

        justify-content: center;

    }


    .award-section .content-wrapper {
        justify-content: center;
    }

    .award-section .content-wrapper .left-side p {
        text-align: center;
        margin-inline: auto;
    }

    .award-section .content-wrapper .count-card {
        text-align: center;
        margin-inline: auto;
    }




    .blog-section .content-wrapper {

        justify-content: center;

    }

    .blog-section .content-wrapper .left-side p {
        text-align: center;
        margin-inline: auto;
    }

    .blog-section .blog-card h2 {
        text-align: start;
    }


    footer .content-wrapper {

        justify-content: center;

    }

    footer .content-wrapper .left-side {
        text-align: center;
    }

    footer .footer-bottom {

        justify-content: center;
    }




    @media (max-width: 700px) {

        .blog-section .blogs .blog-card {
            display: flex;
            flex-direction: column;
            gap: 3.2rem;
            max-width: 50rem;
            --flow-spacer: 7rem;

        }

        .blog-section .blogs .blog-card .blog-img {
            max-width: 100%;
            height: 30rem;
        }

        .blog-section .blogs .blog-card .blog-img img {
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;
        }

        .blog-section .blogs .blog-card .blog-details {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: .8rem;

        }


    }







    h1,
    h2 {
        margin-inline: auto;
        text-align: center;
    }

    .recent-work .work-gallery {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        max-width: fit-content;
        margin-inline: auto;

    }


    .recent-work .work-gallery .item {
        max-width: 80rem;
        max-height: 40rem;

    }




    .client-section .client-logos {
        justify-content: center;
        justify-items: center;
        margin-inline: auto;
    }




    footer .content-wrapper {
        gap: 6.7rem;
        flex-wrap: wrap;


    }

    footer .footer-bottom {
        margin-top: 6.6rem;
        flex-wrap: wrap;
        gap: 3rem;
    }
}